<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
    <title>My Notebook</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.1/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="notebook" class="container-fluid">
        <div class="row">
            <div class="col col-md-2 note-list">
                <aside class="side-bar">
                    <div class="toolbar">
                        <button class="btn btn-link btn-add-note" v-bind:title="addButtonTitle" v-on:click="addNote"><i class="fas fa-plus"></i>  Add</button>
                    </div>
                    <div class="notes">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" v-for="note of sortNotes" @click="selectNote(note)">{{note.title}}
                            <span class="float-right"><i v-if="note.favorite" class="fas fa-star"></i></span></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col">
                <div class="row">
                    <template  v-if="selectedNote">
                        <div class="col">
                            <section class="main">
                                <div class="form-group">
                                    <label for="title">Note Title</label>
                                    <button class="btn btn-link float-right" title="Make it Favorite" v-on:click="favoriteNote"><i :class="selectedNote.favorite ? 'fas': 'far'" class="fa-star"></i></button>
                                    <button class="btn btn-link float-right" title="Delete Note" v-on:click="removeNote"><i class="fas fa-trash"></i></button>
                                    <input type="text" class="form-control" v-model="selectedNote.title" id="title" aria-describedby="title" placeholder="Note Title">
                                    <small id="title" class="form-text text-muted">Enter the title of your note. Your can change it any time.</small>
                                    
                                </div>
                                
                                <textarea v-model="selectedNote.content"></textarea>   
                                <div class="status-bar">
                                    <span class="date">
                                        <span><label class="label">Created</label></span>
                                        <span><label class="value">{{selectedNote.created | date}}</label></span>
                                    </span>
                                    <span class="lines">
                                    <span class="label">Lines</span>
                                    <span class="value">{{ linesCount }}</span>
                                    </span>
                                    <span class="words">
                                    <span class="label">Words</span>
                                    <span class="value">{{ wordsCount }}</span>
                                    </span>
                                    <span class="characters">
                                    <span class="label">Characters</span>
                                    <span class="value">{{ charactersCount }}</span>
                                    </span>
                                </div>     
                            </section>
                        </div>
                        <div class="col preview-main">
                            <h1 class="preview-label">Your Note</h1>
                            <aside v-html="notePreview"></aside>
                        </div>
                        
                    </template>
                </div>
            </div>
                
        </div>
        
    </div>
    <script src="script.js"></script>
</body>
</html>