/* body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  .material-icons {
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
    margin: -3px;
    padding-bottom: 1px;
  }
  
  #notebook > * {
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .side-bar {
    background: #f8f8f8;
    width: 20%;
    box-sizing: border-box;
  }
  
  .note {
    padding: 16px;
    cursor: pointer;
  }
  
  .note:hover {
    background: #ade2ca;
  }
  
  .note .icon {
    float: right;
  }
  
  

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    outline: none !important;
  }
  
  .note.selected {
    background: #40b883;
    color: white;
  }
  


  input {
    border: solid 2px #ade2ca;
    border-radius: 3px;
    padding: 6px 10px;
    background: #f0f9f5;
    color: #666;
  }
  
  input:focus {
    border-color: #40b883;
    background: white;
    color: black;
  }
  
  input {
    height: 34px;
  }
  
  .main, .preview {
    width: 40%;
  }
  
  .toolbar {
    padding: 4px;
    box-sizing: border-box;
  }
  
  .status-bar {
    color: #777;
  }
  
  .status-bar > span {
    margin-right: 6px;
    white-space: nowrap;
  }
  
  .status-bar .label {
    color: #bbb;
  }
  
  textarea {
    resize: none;
    border: none;
    box-sizing: border-box;
    margin: 0 4px;
    font-family: monospace;
  }
  
  textarea, .notes, .preview {
    flex: auto 1 1;
    overflow: auto;
  }
  
  .preview {
    padding: 12px;
    box-sizing: border-box;
    border-left: solid 4px #f8f8f8;
  }
  
  .preview p:first-child {
    margin-top: 0;
  }
  
  a {
    color: #40b883;
  }
  
  h1,
  h2,
  h3 {
    margin: 10px 0 4px;
    color: #40b883;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  h4 {
    font-size: 1.1em;
    font-weight: normal;
  } */

  *::after,
  *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html{
    font-size: 100%;
  }
  body{
     box-sizing: border-box;
     font-family: 'Lato',sans-serif;
     font-weight:400;
     line-height:1.7;
     color:#777;
     height: 100vh;
  }

  .row{
    height: 100vh;
  }
  .col{
    margin: 0;
    padding: 0;
  }
  .toolbar{
    text-align: center;
  }
  .btn-add-note{
    
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
  .note-list{
    height: 100%;
  }

  .status-bar{
    margin-bottom: 0;
    float: left;
  }
  .main{
    height: 80vh;
  }
  textarea{
    width:100%;
    height:100%; 
    resize: none;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    outline: none;
  }
  .preview-main{
    padding: 10px;
  }

  .preview-lable{
    text-align: center;
  }